<!DOCTYPE html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <div class="container-fluid">
      <div class="login-box">
        <% if(step == 1){ %>
          <div>
            <h3>Step One</h3><br><br>
            <form class="details-form" action="/user/forgot-password/step-two" method="post">
              <div class="input-block">
                <p>Enter Your Email:</p>
                <input class="input-box" type="email" name="email" placeholder="Email" required>
              </div>
              <button class="btn btn-danger btn-block" type="submit" name="submit">Submit</button>
            </form>
          </div><br>
        <% } else if(step == 2){ %>
          <div>
            <h3>Step Two</h3><br><br>
            <form class="details-form" action="/user/forgot-password/step-final" method="post">
              <input type="hidden" name="userId" value="<%= userId %>">
              <h4>Answer Below Question:</h4><br>
              <p><%= question %></p><br>
              <div class="input-block">
                <p>Enter Your Security Answer:</p>
                <input class="input-box" type="text" name="secureAnswer" placeholder="Security Answer" required>
              </div>
              <button class="btn btn-danger btn-block" type="submit" name="submit">Submit</button>
            </form>
          </div><br>
        <% } else{ %>
          <div>
            <h3>Step Final</h3><br><br>
            <form class="details-form" action="/user/forgot-password/change" method="post">
              <input type="hidden" name="userId" value="<%= userId %>">
              <input type="hidden" name="_method" value="put">
              <div class="input-block">
                <p>Enter New Password:</p>
                <input class="input-box" type="password" name="password" placeholder="New Password" required>
              </div>
              <button class="btn btn-danger btn-block" type="submit" name="submit">Submit</button>
            </form>
          </div><br>
        <% } %>
      </div>
    </div>
  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
