<!-- scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/movetop.js"></script>
<footer class="footer">

  <p class="footer-motto" style="color: white; font-weight: bold;"><i class="fa fa-fort-awesome" aria-hidden="true"></i> MEAN Shop Backend <i class="fa fa-fort-awesome" aria-hidden="true"></i>
  </p>

  <p class="footer-links">
    <a href="https://github.com/vithalreddy/mean-shop-with-rest-api" target="_blank">View Source code In Github Repo</a> ·
    <a href="https://github.com/vithalreddy" target="_blank">Visit My Github Profile</a> ·
    <a href="mailto:vmreddyvmb@gmail.com" target="_blank">Contact</a>
  </p>

  <p class="footer-name"> &copy; <a href="https://vmrworld.com" target="_blank"><b>VithalReddy</b> </a></p>

</footer>
