<div class="container-fluid">
  <div class="panel panel-primary" style="opacity: 0.9;">
  <div class="panel-heading"> <h3>Inventory Management</h3></div>
   <div class="panel-body " style="background-color: cyan">
<a href="/admin/create-product" class="btn btn-danger btn-lg">Add A  New Product</a><hr>
<a href="/admin/view-product" class="btn btn-danger btn-lg ">View / Edit / Delete Products</a>
 </div>
 </div>
</div>
